* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background: #aa8892;
  margin: 10px auto;
  z-index: 100;
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
}
.logo {
  margin-right: 4px;
  font-size: 1.5em;
  font-weight: bolder;
  color: #aa8892;
  font-family: cursive;
}
.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 10px;
}

.nav-menu a {
  text-align: center;
  font-size: 18px;
  padding: 1px;
  cursor: pointer;
  font-weight: 500;
  transform: 0.3s;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.nav-menu a:hover {
  color: #aa8892;
  font-weight: bolder;
}
/* Responsive Styles */

/* Small screens */
@media only screen and (max-width: 600px) {
  header {
    height: auto;
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .nav-menu a {
    margin: 5px 0;
  }

  .about {
    width: 100%;
    padding: 0 10px;
  }

  img {
    width: 70%;
    float: none;
    margin: 10px 0;
  }

  .aboutText h2 {
    width: 100%;
  }

  .aboutText p {
    width: 100%;
  }

  .contentbox {
    width: 70%;
  }

  .rightBox img {
    float: none;
    width: 50%;
    margin: 0;
  }

  .advise {
    width: 100%;
  }

  .advise h2 {
    width: 100%;
  }

  .readyBuns img {
    width: 100%;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
}

/* Large screens */
@media only screen and (min-width: 1025px) {
}

.about {
  height: 100vh;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.about img {
  width: 100px;
  height: auto;
  float: right;
  margin-right: 5px;
  border: 3px solid #aa8892;
  border-radius: 20px;
  margin-bottom: 20px;
}

.aboutText h2 {
  font-size: 18px;
  color: black;
  border: 3px solid #aa8892;
  width: 20%;
  border-radius: 20px 30px 5px 15px;
  box-shadow: 4px 3px 4px;
  margin-bottom: 10px;
}

.aboutText p {
  font-size: 14px;
  border: 3px solid #aa8892;
  box-shadow: 3px 3px 30px;
  max-width: 800px;
  margin: 0 auto;
}
.video-container {
  flex: 1 1 40rem;
  position: relative;
}
.video-container video {
  width: 100%;
  border: 1.5rem solid #aa8892;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0);
  object-fit: cover;
}

.contentbox {
  width: 30%;
  margin: auto;
  border: 1px solid #aa8892;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ingredients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin-right: 20px;
}
.rightBox {
  width: 30%;
}

.rightBox img {
  transition: all 0.4s linear 0s;
  max-width: 100%;
  height: auto;
}
.rightBox img:hover {
  transform: scale(1.5);
}
.ingredientList {
  width: 100%;
  text-decoration: none;
  box-shadow: 4px 3px 1px;
}

.ingredientList h2 {
  border: 3px solid #aa8892;
  font-size: 18px;
  border-radius: 5px 30px 50px 15px;
  width: 80%;
  box-shadow: 4px 3px 4px;
  margin-bottom: 10px;
}

.leftBox {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.methodList h2 {
  font-size: 18px;
  border: 3px solid #aa8892;
  border-radius: 5px 30px 50px 15px;
  width: 80%;
  box-shadow: 4px 3px 4px;
  margin-bottom: 10px;
}
.advise {
  width: 70%;
  flex: 1;
  margin-right: 20px;
}
.advise h2 {
  font-size: 20px;
  border: 3px solid #aa8892;
  border-radius: 5px 30px 10px 15px;
  width: 60%;
  box-shadow: 4px 3px 4px;
  margin-bottom: 20px;
}
.page-footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: #aa8892;
  margin-top: 20px;
  padding-bottom: 10px 0;
  width: 100%;
  bottom: 0;
}
.logo-footer {
  font-weight: bold;
  font-size: 18px;
}
